// Place all the styles related to the Room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-container {
  display: flex;

  & > .flex {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}

textarea {
  resize: vertical;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.vote-machine, .current-standing {
  flex: 0.5;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1em;

  .card {
    width: 5em;
    height: 8em;

    margin: 1em;
  }
}

.current-standing {
  table {
    table-layout: fixed;
    border: 0;
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.12);

    th {
      padding: 0 1em;
      height: 2.5em;
      text-align: left;
    }

    td {
      padding: 0 1em;
      height: 2em;
    }

    tr {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .connection-status {
    font-style: italic;
    font-size: 60%;
    color: #aaa;
  }

  .sealed {
    font-style: italic;
    font-size: 90%;
    color: #aaa;
  }
}

.round-control {
  .tip {
    font-size: 90%;
    width: 50%;
    padding: 0 25%;
    margin-top: 0;
  }
}
